
{%extends 'base.html'%}

{%block content%}
{% load static %} 

<div class="container-md">
    <div class="row">
        <div class="col-sm border border-danger">1</div>
        <div class="col-sm border border-danger">2</div>
        <div class="col-sm border border-danger">3</div>
    </div>
    <div class="row">
        <div class="col-sm border beorder-primary">4</div>
        <div class="col-sm border beorder-primary">5</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 border border-success">Main content</div>
        <div class="col-md-4 border border-success">Sildebar</div>
    </div>
</div>

<!-- <br><br><br>
{{api}}
<br><br><br>
{{api.keys}}
<br><br><br>
{{api.location}}
<br><br><br>
{{api.current}}
<br><br><br>
{{api.current.condition.icon}}
<br><br><br> -->
<!-- <img src = "{% static 'bgIMG2.jpg' %}" height="200" width="200" > -->
<!-- <img src="{% static 'bgIMG2.jpg'%}" alt="demo"></img> -->
<!-- {{api.daily.data|length}}
{{api.daily}} -->

<!-- {% if api%}
    {% if api == "Error..." %}
        There was an error, please try again
    {%else%} -->
        <!-- data display -->
        <!-- <ol>
                {%for data in api.daily.data%}
            <li>
                <p>day:{{data.day}}<br>
                    Weather:{{data.weather}}<br>
                    Forecast:{{data.summary}}<br>
                    humidity:{{data.humidity}}<br>
                    ozone:{{data.ozone}}<br>
                </p>
            </li>
            {%endfor%}
        </ol>
    {%endif%}
{%endif%} -->
{%endblock%}