
{%extends 'base.html'%}

{%block content%}
{% load static %} 

<!-- <div class="container-md">
    <div class="row">
        <div class="col-sm border border-danger">1</div>
        <div class="col-sm border border-danger">2</div>
        <div class="col-sm border border-danger">3</div>
    </div>
    <div class="row">
        <div class="col-sm border beorder-primary">4</div>
        <div class="col-sm border beorder-primary">5</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 border border-success">Main content</div>
        <div class="col-md-4 border border-success">Sildebar</div>
    </div>
</div> -->

<!-- Gutter -->

<!-- <div class="container px-4 mt-5 border border-info ">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border">custom column</div>
        </div>
        <div class="col">
            <div class="p-3 border">custom column</div>
        </div>
    </div>
</div> -->
<br><br><br><br>

<!-- test grid -->

<div class="container-md weather__card">
    <div class="row ">
        <div class="col-md-5 text-center py-3"><h2>{{api.current.temp_c}}&deg;</h2></div>
        <div class="col-md-2 text-center "><img src="{{api.current.condition.icon}}"></div>
        <div class="col-md-5  pt-3">
                <h5>{{api.location.localtime}}</h5>
                <h3 class="my-4">{{api.location.name}}, {{api.location.country}}</h3>
                <span class="weather__description ">{{api.forecast.forecastday.0.day.condition.text}}</span>
        </div>
    </div>
    <div class="row justify-content-md-center text-center  mt-5">
        <div class="col col-lg-2">UV:{{api.forecast.forecastday.0.day.uv}}</div>
        <div class="col-md-auto">Rain:{{api.forecast.forecastday.0.day.daily_chance_of_rain}}%</div>
        <div class="col col-lg-2">Snow:{{api.forecast.forecastday.0.day.daily_chance_of_snow}}%</div>
    </div>
</div>

<div class="weather__forecast d-flex flex-row justify-content-center align-items-center mt-3">
    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>{{api.forecast.forecastday.0.date}}</span>
        <img src="{{api.forecast.forecastday.0.day.condition.icon}}" alt="weather forecast icon">
        <span>{{api.forecast.forecastday.0.day.mintemp_c}}&deg / {{api.forecast.forecastday.0.day.maxtemp_c}}&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>{{api.forecast.forecastday.1.date}}</span>
        <img src="{{api.forecast.forecastday.1.day.condition.icon}}" alt="weather forecast icon">
        <span>{{api.forecast.forecastday.1.day.mintemp_c}}&deg / {{api.forecast.forecastday.1.day.maxtemp_c}}&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>{{api.forecast.forecastday.2.date}}</span>
        <img src="{{api.forecast.forecastday.2.day.condition.icon}}" alt="weather forecast icon">
        <span>{{api.forecast.forecastday.2.day.mintemp_c}}&deg / {{api.forecast.forecastday.2.day.maxtemp_c}}&deg;</span>
    </div>

   
</div>
<!-- {{api.location.name}}<br><br>
{{api.location.country}}<br><br>
{{api.location.localtime}}<br><br>
<br>
{{api.forecast.forecastday.0.date}}<br><br>
{{api.forecast.forecastday.1.date}}<br><br>
{{api.forecast.forecastday.2.date}}<br><br>

{{api.forecast.forecastday.0.date}}<br><br>
{{api.forecast.forecastday.0.day.maxtemp_c}}<br><br>
{{api.forecast.forecastday.0.day.mintemp_c}}<br><br>
{{api.forecast.forecastday.0.day.daily_chance_of_rain}}<br><br>
{{api.forecast.forecastday.0.day.daily_chance_of_snow}}<br><br>
{{api.forecast.forecastday.0.day.condition.text}}<br><br>
{{api.forecast.forecastday.0.day.condition.icon}}<br><br> -->
<!-- <img src="{% static '{{api.forecast.forecastday.0.day.condition.icon}}'%}" alt="demo"></img> -->
<!-- <img src="{{api.forecast.forecastday.0.day.condition.icon}}"> -->
<!-- <br>{{api.forecast.forecastday.0.day.uv}}<br><br> -->

<!-- Weather -->
<!-- <div class="container mt-5">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="weather__card">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="p-3">
                    <h2>15&deg;</h2>
                </div>
                <div class="p-3">
                    <img src="https://svgur.com/i/oKG.svg">
                </div>
                <div class="p-3">
                    <h5>Tuesday, 10 AM</h5>
                    <h3>San Francisco</h3>
                    <span class="weather__description">Mostly Cloudy</span>
                </div>
            </div>
            <div class="weather__status d-flex flex-row justify-content-center align-items-center mt-3">
                <div class="p-4 d-flex justify-content-center align-items-center">
                    <img src="https://svgur.com/i/oHw.svg">
                    <span>10%</span>
                </div>
                <div class="p-4 d-flex justify-content-center align-items-center">
                    <img src="https://svgur.com/i/oH_.svg">
                    <span>0.53 mB</span>
                </div>
                <div class="p-4 d-flex justify-content-center align-items-center">
                    <img src="https://svgur.com/i/oKS.svg">
                    <span>10 km/h</span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Weather Forecast -->
<!-- <div class="weather__forecast d-flex flex-row justify-content-center align-items-center mt-3">
    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>Wed</span>
        <img src="https://svgur.com/i/oJe.svg">
        <span>13&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>Thu</span>
        <img src="https://svgur.com/i/oKG.svg">
        <span>15&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>Wed</span>
        <img src="https://svgur.com/i/oKG.svg">
        <span>15&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>Fri</span>
        <img src="https://svgur.com/i/oJe.svg">
        <span>13&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>Sat</span>
        <img src="https://svgur.com/i/oJx.svg">
        <span>13&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>Sun</span>
        <img src="https://svgur.com/i/oJU.svg">
        <span>11&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>Mon</span>
        <img src="https://svgur.com/i/oJU.svg">
        <span>11&deg;</span>
    </div>

    <div class="p-4 d-flex flex-column justify-content-center align-items-center">
        <span>Tue</span>
        <img src="https://svgur.com/i/oJy.svg">
        <span>6&deg;</span>
    </div>
</div> -->


<!-- <br><br><br>
{{api}}
<br><br><br>
{{api.keys}}
<br><br><br>
{{api.location}}
<br><br><br>
{{api.current}}
<br><br><br>
{{api.current.condition.icon}}
<br><br><br> -->
<!-- <img src = "{% static 'bgIMG2.jpg' %}" height="200" width="200" > -->
<!-- <img src="{% static 'bgIMG2.jpg'%}" alt="demo"></img> -->
<!-- {{api.daily.data|length}}
{{api.daily}} -->

<!-- {% if api%}
    {% if api == "Error..." %}
        There was an error, please try again
    {%else%} -->
        <!-- data display -->
        <!-- <ol>
                {%for data in api.daily.data%}
            <li>
                <p>day:{{data.day}}<br>
                    Weather:{{data.weather}}<br>
                    Forecast:{{data.summary}}<br>
                    humidity:{{data.humidity}}<br>
                    ozone:{{data.ozone}}<br>
                </p>
            </li>
            {%endfor%}
        </ol>
    {%endif%}
{%endif%} -->
{%endblock%}